

.AssetTable {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
  }
  
  th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #555;
  }
  
  tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease-in-out;
  }
  
  select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .icon-cell {
    text-align: center;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  td.criticalityFactor {
    font-weight: bold;
  }
  
  td.criticalityFactor.low {
    color: #28a745; 
  }
  
  td.criticalityFactor.medium {
    color: #ffc107; 
  }
  
  td.criticalityFactor.high {
    color: #dc3545; 
  }
  /* AssetTable.css */

.AssetTable {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
  }
  
  th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #555;
  }
  
  tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease-in-out;
  }
  
  select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .icon-cell {
    text-align: center;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  td.criticalityFactor {
    font-weight: bold;
  }
  
  td.criticalityFactor.low {
    color: #28a745; 
  }
  
  td.criticalityFactor.medium {
    color: #ffc107; 
  }
  
  td.criticalityFactor.high {
    color: #dc3545; 
  }
  
  td.isCrownJewel img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  
  td.isCrownJewel img.green {
    filter: invert(27%) sepia(95%) saturate(500%) hue-rotate(110deg) brightness(102%) contrast(102%);
  }
  
  td.isCrownJewel img.blue {
    filter: invert(74%) sepia(73%) saturate(214%) hue-rotate(189deg) brightness(85%) contrast(86%);
  }
  
  td.isCrownJewel img.red {
    filter: invert(55%) sepia(73%) saturate(410%) hue-rotate(354deg) brightness(90%) contrast(91%);
  }
  